#btn-menu{
	display: none;
}
header label{
	font-size: 30px; 
	cursor: pointer;
	display: none;
}
.menu ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none; 
	}
	.menu a {
		display: block;
		padding: 2em;
		background-color: #BCBFC4;
		text-decoration: none;
		color: black;
	}
	.menu a:hover {
		background-color: #CC673B;
	}
	.menu ul li ul {
		display: none;
	}
	.menu ul li a:hover + ul, .menu ul li ul:hover {
		display: block;
	}
	.menu a span{
		margin-left: 15px; 
	}
@media (max-width: 768px){
	.btn-menu{
		display: block;

	}
	header label{
		display: block;
	}
	.menu{
		position: absolute;
		top: 50px; 
		left: 0; 
		width: 60%; 
	}
	.menu ul{
		display: block;
		background-color: #555; 

	}
	menu ul li:hover ul{
		display: none;

	}
}